<template>
	<div class="sidebar" @mouseenter="isMenuOver=true" @mouseleave="isMenuOver=false"  @touchstart="isMenuOver=true">
		<div class="main-menu">
			<vue-perfect-scrollbar class="scroll" :settings="settings" >
				<ul class="list-unstyled">
					<li :class="{ active : activeMenu == 'dashboard' }">
						<a @click.prevent="openSubMenu($event, 'dashboard')" href="#dashboard"><i class="iconsminds-shop-4"></i>Dashboard</a>
					</li>
          <li :class="{ active : activeMenu == 'e-commerce' }">
            <a @click.prevent="openSubMenu($event, 'e-commerce')" href="#e-commerce"><i class="iconsminds-shopping-cart"></i>E-Commerce</a>
          </li>
				</ul>
			</vue-perfect-scrollbar>
		</div>
		<div class="sub-menu">
			<vue-perfect-scrollbar class="scroll" :settings="settings" >
				<ul class="list-unstyled" data-link="dashboard" :class="{ 'd-block': activeMenu == 'dashboard' }">
					<router-link tag="li" :to="{ name: 'Default' }"><a><i class="simple-icon-briefcase"></i>Default</a></router-link>
					<router-link tag="li" to="/laravel/dashboard/analytics"><a><i class="simple-icon-pie-chart"></i>Analytics</a></router-link>
          <router-link tag="li" to="/app/dashboard/"><a><i class="simple-icon-basket-loaded"></i>E-Commerce</a></router-link>
          <router-link tag="li" to="/app/dashboard/"><a><i class="simple-icon-doc"></i>Content</a></router-link>
				</ul>
        <ul class="list-unstyled" data-link="ecommerce" :class="{ 'd-block': activeMenu == 'e-commerce' }">
          <router-link tag="li" to="/e-commerce/analytics"><a><i class="simple-icon-pie-chart"></i>Analytics</a></router-link>
          <router-link tag="li" to="/e-commerce/products"><a><i class="iconsminds-shop"></i>Products</a></router-link>
          <router-link tag="li" to="/app/dashboard/"><a><i class="simple-icon-basket-loaded"></i>E-Commerce</a></router-link>
          <router-link tag="li" to="/app/dashboard/"><a><i class="simple-icon-doc"></i>Content</a></router-link>
        </ul>
			</vue-perfect-scrollbar>
		</div>
	</div>
</template>

<script>

import { mapGetters, mapMutations } from 'vuex'
import { menuHiddenBreakpoint, subHiddenBreakpoint } from '../config'

export default {

  name: 'Sidebar',

  data() {
    return {
    	settings: {
    		'suppressScrollX': true,
    		'wheelPropagation': true
    	},
    	activeMenu: '',
    	isMenuOver: false
    }
  },
  mounted () {
  	this.selectedMenu()
  	window.addEventListener('resize', this.handleWindowResize)
  	document.addEventListener('click', this.returnSelectedMenu)
  	this.handleWindowResize()
  },
  methods: {
  	...mapMutations(['changeSideMenuStatus', 'addMenuClassname', 'changeSelectedMenuHasSubItems']),
  	selectedMenu () {
  		const selected = this.$route.path.split('/').filter(x => x !== '')[0]
      console.log(selected)
  		if (selected != undefined || selected != null) {
  			this.activeMenu = selected.toLowerCase()
  		} else {
  			this.activeMenu = 'dashboard'
  		}
  	},
  	openSubMenu (e, selectedParent) {
  		this.changeSelectedMenuHasSubItems(true)
  		const currentClasses = this.menuType ? this.menuType.split(' ').filter(x => x != '') : ''
  		
  		if (!currentClasses.includes('menu-mobile')) {
  			if (currentClasses.includes('menu-sub-hidden') && (this.menuClickCount == 2 || this.menuClickCount == 0)) {
  				this.changeSideMenuStatus({ step: 3, classNames: this.menuType })
  			} else if (currentClasses.includes('menu-hidden') && (this.menuClickCount == 1 || this.menuClickCount == 3)) {
  				this.changeSideMenuStatus({ step: 2, classNames: this.menuType })
  			} else if (currentClasses.includes('menu-default') && !currentClasses.includes('menu-sub-hidden') && (this.menuClickCount == 1 || this.menuClickCount == 3)) {
  				this.changeSideMenuStatus({ step: 0, classNames: this.menuType })
  			}
  		} else {
  			this.addMenuClassname({ classname: 'sub-show-temporary', currentClasses: this.menuType })
  		}
  		this.activeMenu = selectedParent
  	},
  	addEvents () {
  		document.addEventListener('click', this.handleDocumentClick)
  	},
  	removeEvents () {
  		document.removeEventListener('click', this.handleDocumentClick)
  	},
  	returnSelectedMenu () {
  		if (!this.isMenuOver)
  			this.selectedMenu()
  	},
  	handleDocumentClick (e) {
  		if (!this.isMenuOver) {
  			let cont = true
  			e.path.map(p => {
  				if (p.nodeName != 'svg' && p.className != undefined && p.className.indexOf('menu-button') > -1)
  					cont = false
  			})
  			if (cont)
  				this.toggle()
  		}
  	},
  	toggle () {
  		const currentClasses = this.menuType.split(' ').filter(x => x != '')
  		if (currentClasses.includes('menu-sub-hidden') && this.menuClickCount == 3) {
  			this.changeSideMenuStatus({ step: 2, classNames: this.menuType })
  		} else if (currentClasses.includes('menu-hidden') || currentClasses.includes('menu-mobile')) {
  			this.changeSideMenuStatus({ step: 0, classNames: this.menuType })
  		}
  	},
  	handleWindowResize (event) {
  		if (event && !event.isTrusted)
  			return
  		let nextClasses = this.getMenuClassesForResize(this.menuType)
  		this.changeSideMenuStatus({ step: 0, classNames: nextClasses.join(' ') })
  	},
  	getMenuClassesForResize (classes) {
  		let nextClasses = classes.split(' ').filter(x => x != '')
  		const windowWidth = window.innerWidth

  		if (windowWidth < menuHiddenBreakpoint) {
  			nextClasses.push('menu-mobile')
  		} else if (windowWidth < subHiddenBreakpoint) {
  			nextClasses = nextClasses.filter(x => x != 'menu-mobile')
  			if (nextClasses.includes('menu-default') && !nextClasses.includes('menu-sub-hidden')) {
  				nextClasses.push('menu-sub-hidden')
  			}
  		} else {
  			nextClasses = nextClasses.filter(x => x != 'menu-mobile')
  			if (nextClasses.includes('menu-default') && nextClasses.includes('menu-sub-hidden')) {
  				nextClasses = nextClasses.filter(x => x != 'menu-sub-hidden')
  			}
  		}

  		return nextClasses
  	},
  	changeDefaultMenuType (containerClassnames) {
  		let nextClasses = this.getMenuClassesForResize(containerClassnames)
  		this.changeSideMenuStatus({ step: 0, classNames: nextClasses.join(' ') })
  	}
  },
  computed: {
  	...mapGetters({
  		menuType: 'getMenuType',
  		menuClickCount: 'getMenuClickCount'
  	})
  },
  watch: {
	menuType (val) {
		if (val.indexOf('show-temporary') > -1) {
			this.addEvents()
		} else {
			this.removeEvents()
		}
	}
  }
}
</script>

<style lang="css" scoped>
</style>
