<template>
	<nav class="navbar fixed-top">
		<a href="#" class="menu-button d-none d-md-block" @click.prevent="changeSideMenuStatus({ step: menuClickCount+1, classNames: menuType })">
			<menu-icon/>
		</a>
		<a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none" @click.prevent="changeSideMenuForMobile(menuType)">
			<mobile-menu-icon />
		</a>
		<div :class="{ 'search': true, 'mobile-view': isMobileSearch }" ref="searchContainer" @mouseenter="isSearchOver=true" @mouseleave="isSearchOver=false">
			<b-input :placeholder="'Search'" @keypress.native.enter="search" v-model="searchKeyword" />
			<span class="search-icon" @click="searchClick">
				<i class="simple-icon-magnifier"></i>
			</span>
		</div>
		<router-link class="navbar-logo" tag="a" :to="{ name: 'Home' }">
			<span class="logo d-none d-xs-block"></span>
			<span class="logo-mobile d-block d-xs-none"></span>
		</router-link>
		<div class="ml-auto">
			<div class="header-icons d-inline-block align-middle">
				<div class="position-relative d-none d-sm-inline-block">
					<b-dropdown variant="empty" size="sm" right toggle-class="header-icon" menu-class="position-absolute mt-3 iconMenuDropdown" no-caret>
						<template slot="button-content">
							<i class="simple-icon-grid" />
						</template>
						<div>
							<router-link tag="a" to="/app/dashboards/default" class="icon-menu-item">
								<i class="iconsminds-shop-4 d-block" /> Dashboards
							</router-link>
							<router-link tag="a" to="/app/ui"  class="icon-menu-item">
								<i class="iconsminds-pantone d-block" /> UI
							</router-link>
							<router-link tag="a" to="/app/ui/charts"  class="icon-menu-item">
								<i class="iconsminds-bar-chart-4 d-block" /> Charts
							</router-link>
							<router-link tag="a" to="/app/applications/chat" class="icon-menu-item">
								<i class="iconsminds-speach-bubble d-block" /> Chat
							</router-link>
							<router-link tag="a" to="/app/applications/survey" class="icon-menu-item">
								<i class="iconsminds-formula d-block" /> Survey
							</router-link>
							<router-link tag="a" to="/app/applications/todo" class="icon-menu-item">
								<i class="iconsminds-check d-block" /> Todo
							</router-link>
						</div>
					</b-dropdown>
				</div>
				<div class="position-relative d-inline-block">
					<b-dropdown variant="empty" size="sm" right toggle-class="header-icon notificationButton" menu-class="position-absolute mt-3 notificationDropdown" no-caret>
						<template slot="button-content">
							<i class="simple-icon-bell" />
							<span class="count">3</span>
						</template>
						<vue-perfect-scrollbar :settings="settings">
							<div class="d-flex flex-row mb-3 pb-3 border-bottom" v-for="(n,index) in notifications" :key="index">
								<!-- insert link -->
								<img :src="n.img" :alt="n.title" class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
								<div class="pl-3 pr-2">
									<p class="font-weight-medium mb-1">{{n.title}}</p>
									<p class="text-muted mb-0 text-small">{{n.date}}</p>
								</div>
							</div>
						</vue-perfect-scrollbar>
					</b-dropdown>
				</div>
				<!-- fullscreen -->
				<b-button variant="empty" class="header-icon d-none d-sm-inline-block" @click="toggleFullScreen">
					<i :class="{ 'd-block': true, 'simple-icon-size-actual': fullscreen, 'simple-icon-size-fullscreen': !fullscreen }" />
				</b-button>
			</div>
			<div class="user d-inline-block">
				<b-dropdown class="dropdown-menu-right" variant="empty" toggle-class="p-0" menu-class="mt-3" right no-caret>
					<template slot="button-content">
						<span class="name mr-1">{{currentUser.user.name}}</span>
						<span><img :alt="currentUser.user.name" :src="currentUser.user.images" /></span>
					</template>
					<b-dropdown-item>Account</b-dropdown-item>
            <b-dropdown-item>Features</b-dropdown-item>
            <b-dropdown-item>History</b-dropdown-item>
            <b-dropdown-item>Support</b-dropdown-item>
            <b-dropdown-divider />
            <b-dropdown-item @click="logout">
              Sign out
            </b-dropdown-item>
				</b-dropdown>
			</div>
		</div>
	</nav>
</template>

<script>

import { MenuIcon, MobileMenuIcon } from '../components/icons'

import { mapGetters, mapMutations } from 'vuex'

// dummy content
import notifications from '../dummy/notifications'
import user from '../dummy/user'

export default {

  name: 'TopNav',

  components: {
  	MenuIcon,
  	MobileMenuIcon
  },
  data () {
    return {
    	fullscreen: false,
    	settings: {
    		'suppressScrollX': true,
    		'wheelPropagation': true
    	},
    	notifications: notifications,
    	searchKeyword: '',
    	isMobileSearch: false,
    	isSearchOver: false,
    	menuHiddenBreakpoint: 768
    }
  },
  methods: {
    ...mapMutations(['changeSideMenuStatus', 'changeSideMenuForMobile']),
  	search () {
  		if (this.searchKeyword) {
  			console.log(this.searchKeyword)
  		} else {
			console.log('Please input keyword to search')  			
  		}
  	},
  	searchClick () {
  		if (window.innerWidth < this.menuHiddenBreakpoint) {
  			if (!this.isMobileSearch) {
  				this.isMobileSearch = true
  			} else {
  				this.search()
  				this.isMobileSearch = false
  			}
  		} else {
  			this.search()
  		}
  	},
  	handleDocumentforMobileSearch () {
  		if (!this.isSearchOver) {
  			this.isMobileSearch = false
  			this.searchKeyword = ''
  		}
  	},
  	toggleFullScreen () {
  		const isInFullScreen = this.isInFullScreen()

  		const docElm = document.documentElement
  		if (!isInFullScreen) {
  			if (docElm.requestFullscreen) {
  				docElm.requestFullscreen()
  			} else if (docElm.mozRequestFullScreen) {
  				docElm.mozRequestFullScreen()
  			} else if (docElm.webkitRequestFullScreen) {
  				docElm.webkitRequestFullScreen()
  			} else if (docElm.msRequestFullscreen) {
  				docElm.msRequestFullscreen()
  			}
  		} else {
  			if (document.exitFullscreen) {
  				document.exitFullscreen()
  			} else if (document.webkitExitFullscreen) {
  				document.webkitExitFullscreen()
  			} else if (document.mozCancelFullScreen) {
  				document.mozCancelFullScreen()
  			} else if (document.msExitFullscreen) {
  				document.msExitFullscreen()
  			}
  		}
  		this.fullscreen = !isInFullScreen
  	},
  	isInFullScreen () {
  		return (
        (document.fullscreenElement && document.fullscreenElement !== null) ||
            (document.webkitFullscreenElement &&
                document.webkitFullscreenElement !== null) ||
            (document.mozFullScreenElement &&
                document.mozFullScreenElement !== null) ||
            (document.msFullscreenElement && document.msFullscreenElement !== null)
      	)
  	},
  	// do login here
  	logout () {
  		console.log('logout here')
  	}
  },
  computed: {
    ...mapGetters({
      menuType: 'getMenuType',
      menuClickCount: 'getMenuClickCount',
      //user
      currentUser: 'currentUser'
    })
  },
  watch: {
  	isMobileSearch (val) {
  		if (val) {
  			document.addEventListener('click', this.handleDocumentforMobileSearch)
  		} else {
  			document.removeEventListener('click', this.handleDocumentforMobileSearch)
  		}
  	}
  }
}
</script>

<style lang="css" scoped>
</style>