<template>
	<div id="root">
		<div class="fixed-background"></div>
		<main>
			<div class="container">
				<b-row class="h-100">
					<b-colxx xxs="12" md=10 class="mx-auto my-auto">
						<b-card class="auth-card" no-body>
							<div class="position-relative image-side">
								<div class="text-white h2">Administrator</div>
								<p class="white mb-0">
									Please use your credentials to login.<br />If you are not a member, please
									<router-link tag="a" :to="{ name: 'Register' }" class="white">register</router-link>
								</p>
							</div>
							<div class="form-side">
								<router-link tag="a" to="/"><span class="logo-single"/></router-link>
								<h6 class="mb-4">Login</h6>
								<b-form @submit.prevent="formSubmit">
									<label class="form-group has-float-label mb-4">
										<input type="email" class="form-control" v-model="email">
										<span>Email address</span>
									</label>
									<label class="form-group has-float-label mb-4">
										<input type="password" class="form-control" v-model="password">
										<span>Password</span>
									</label>
									<div class="d-flex justify-content-between align-items-center">
										<router-link tag="a" to="/user/forgot-password">Forget password?</router-link>
										<b-button type="submit" variant="primary" size="lg" class="btn-shadow" :disabled="processing">Login</b-button>
									</div>
								</b-form>
							</div>
						</b-card>
					</b-colxx>
				</b-row>
			</div>
		</main>
	</div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {

  name: 'login',

  data () {
    return {
    	email: 'kythinhle@gmail.com',
    	password: 'Thinh@123',
    	remember: false,
    	processing: false
    }
  },
  computed: {
  	...mapGetters(['currentUser'])
  },
  methods: {
  	...mapActions(['doLogin']),
  	formSubmit () {
  		this.doLogin({ email: this.email, password: this.password })
  	}
  },
  watch: {
  	currentUser (val) {
  		if (typeof val !== undefined && val.access_token) {
            this.$router.push({ name: 'Home' })
  		}
  	}
  },
  beforeCreate () {
  	document.body.className = 'background'
  }
}
</script>

<style lang="css" scoped>
</style>