<template>
  <div>
  	<b-colxx class="disable-text-selection">
	  	<b-row>
  	    <b-colxx xxs="12">
  	      <h1>Products</h1>
  	      <div class="float-sm-right">
  	      	<b-button v-b-modal.add-new variant="primary" size="lg">ADD NEW</b-button>
  	      	<b-modal id="add-new" size="lg" title="Add New Item"></b-modal>
  	      </div>
  	      <div class="mb-2 mt-2">
  	      	<b-collapse id="displayOptions" class="d-md-block">
  	      		<span class="mr-3 mb-2 d-inline-block float-md-left">
  	      			<a :class="{'mr-2 view-icon': true, 'active': displaymode === 'list'}"><DataListIcon /></a>
  	      			<a :class="{'mr-2 view-icon': true, 'active': displaymode === 'thumb'}"><ThumbListIcon /></a>
  	      			<a :class="{'mr-2 view-icon': true, 'active': displaymode === 'image'}"><ImageListIcon /></a>
  	      		</span>
  	      	</b-collapse>
  	      </div>
  	    </b-colxx>
  	  </b-row>
	  	<template v-if="!isLoad">

	  		<b-row v-if="displaymode === 'image'">
	  			<b-colxx sm="6" lg="4" xl="3" class="mb-3" v-for="(item, index) in items" :key="index" :id="item.id">
	  				<image-list :data="item"></image-list>
	  			</b-colxx>
	  		</b-row>

	  	</template>
	  	<template v-else>
	  		<div class="loading"></div>
	  	</template>
  	</b-colxx>
  </div>
</template>

<script>

import { DataListIcon, ImageListIcon, ThumbListIcon } from '@/components/icons'

import ImageList from '@/components/list/ImageList'
// import factory repository
import { Factory } from '@/repository/repositoryFactory'
const ProductsRepository = Factory.get( 'products' )

export default {

  name: 'products',

  components: {
  	ImageList,

  	DataListIcon,
  	ImageListIcon,
  	ThumbListIcon
  },

  data() {
    return {
    	isLoad: true,
    	items: [],
      displaymode: 'image' // setting default mode
    }
  },
  created() {
  	this.fetch()
  },
  methods: {
  	async fetch() {
  		let response = await ProductsRepository.get()
  		this.isLoad = false
  		this.items = response.data.data
  	}
  }
}
</script>

<style lang="css" scoped>
</style>