<template>
	<div id="app-container" :class="getMenuType">
		<top-nav />
		<Sidebar />
		<main>
			<div class="container-fluid">
				<router-view />
			</div>	
		</main>
	</div>
</template>

<script>

import TopNav from '../../containers/TopNav'
import Sidebar from '../../containers/Sidebar'

import { mapGetters } from 'vuex'

export default {

  name: 'master',

  components: {
  	TopNav,
  	Sidebar
  },

  data () {
    return {

    }
  },
  computed: {
  	...mapGetters(['getMenuType'])
  }
}
</script>

<style lang="css" scoped>
</style>