<template>
  <b-card no-body>
    <div class="img-drop">
   	  <img v-lazy="data.images" class="card-img-top" :alt="data.title" />
    </div>
    <b-card-body>
      <b-row>
      	<b-colxx xxs="10" class="mb-3">
      	  <h6 class="mb-4 card-subtitle">{{ data.title }}</h6>
      	  <p class="text-muted text-small mb-0 font-weight-light card-text">{{ data.updated_at }}</p>
      	</b-colxx>
      </b-row>
    </b-card-body>
  </b-card>
</template>

<script>
export default {

  name: 'ImageList',
  props: ['data'],
  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>